{% extends 'core/base.html' %}

{% block content %}
<center><h4>{{restraunt.name}}</h4></center>
<form role="form" action="{% url 'receipt' restraunt.id %}" method="POST">
	{% csrf_token %}
	<div class="row">
		{% for food in foods %}
		<div class="col-xs-6">
			<center><img src="{{ MEDIA_URL }}{{food.portrait_photo}}" width="100" height="100" /></center>
			<center>${{food.cost}}</center>
			<center><input id="amount_{{food.id}}" name="amount_{{food.id}}" type="text" class="form-control bfh-number"></center>
		</div>
		{% endfor %}

		<center><button action="submit" class="btn btn-success">Make Order</a></center>
	</div>
</form>
{% endblock %}

{% block style %}
<link href="{{ STATIC_URL }}core/css/bootstrap-formhelpers.css" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}core/js/bootstrap-formhelpers.min.js"></script>
{% endblock %}