{% extends 'core/base.html' %}

{% block content %}
<center><h4>{{restraunt.name}}</h4></center>
<div class="row">
	{% for food in foods %}
	<div class="col-xs-2">
		<img src="{{ MEDIA_URL }}{{food.portrait_photo}}" width="100" height="100" />
	</div>
	{% endfor %}
	</div>
	<div style="margin-top=10px">
	<center>{{restraunt.description}}</center>
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-4 pull-left"><h4>Rating:</h4></div> 
		<div class="col-xs-8 pull-right"><h4>{{rating}}/5.0</h4></div>
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-4 pull-left"><h4>Current Line:</h4></div> 
		<div class="col-xs-8 pull-right"><h4>{{ current_line|length }} people<br>5 min/person</h4></div>
	</div>
	{% for review in last_review %}
	<div class="row col-xs-12">
		<div class="col-xs-3">{{review.user}}</div>
		<div class="col-xs-9">{{review.description}}</div>
	</div>
	{% endfor %}
	<center><a herf="{% url 'menu' restraunt.id %}" role="button" class="btn btn-success">Buy Food</a></center>
</div>
{% endblock %}